body{
    background-color: white;
    text-align: center;
}
.container{
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
 //2X2 ovo radi
    grid-template-columns: repeat(2,minmax(100px,auto));
    // probam
    grid-template-columns: repeat(2,300px);
    
    //2x3 and 3x3
    // grid-template-columns: repeat(3,minmax(100px,auto));
  
    // margin: 0 auto;
    // gap: 100px;
    justify-content: center;
}
.info_container{
    position: relative;
    #points{
        display: inline;
        position: absolute;
        right: 5rem;
        top: 0;
        
    }
    #rounds{
        display: inline;
        position: absolute;
        left: 5rem;
        top: 0;   
    }
}
.number_box{
    // width: 1fr;
     min-height: 250px;
    // padding: 20px;
    background-color: wheat;
    margin: 10px;
    //text aligment inside of div
    display: flex;
    justify-content: center;
    align-items: center;
     transition : padding 0.05s;
  &:hover{
      cursor: pointer;
  }
}

.success{
        background-color: green;
}
.fail{
            background-color: red;
}