body{
    background-color: white;
}
.container{
    display: flex;

    width: 100%;
}
.number_box{
    width: 100px;
     height: 100px;
    // padding: 20px;
    background-color: wheat;
    margin: 20px;
    //text aligment inside of div
    display: flex;
    justify-content: center;
    align-items: center;
     transition : padding 0.05s;
    &:hover{
        // border: 2px solid red;
         padding: 2px;
        cursor: pointer;
    }
}

.success{
        background-color: green;
}
.fail{
            background-color: red;
}